.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* mobile view */
@media (max-width: 480px) {

}

.general-box{
  height: 100vh;
  border: solid 1px red;
  display: flex; 
}

.cols{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.cols::-webkit-scrollbar {
  display: none;
}

.col1, .col2{
  width: 300px;
}

.col-box{
  border: solid 1px blue;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.cat-name{
  margin-left: 10px;
}

.cat-img{
  width: 50px;
  height: 50px;
}

#selected{
  color: red;
}
